<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated calendarDSL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="calendardsl.calendarDSL.presentation.CalendarDSLModelWizardID"
            name="%_UI_CalendarDSLModelWizard_label"
            class="calendardsl.calendarDSL.presentation.CalendarDSLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CalendarDSLModelFile.gif">
         <description>%_UI_CalendarDSLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated calendarDSL -->
      <editor
            id="calendardsl.calendarDSL.presentation.CalendarDSLEditorID"
            name="%_UI_CalendarDSLEditor_label"
            icon="icons/full/obj16/CalendarDSLModelFile.gif"
            extensions="calendardsl"
            class="calendardsl.calendarDSL.presentation.CalendarDSLEditor"
            contributorClass="calendardsl.calendarDSL.presentation.CalendarDSLActionBarContributor">
      </editor>
   </extension>

</plugin>
